* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth; 
}

a {
    color: inherit;
    text-decoration: none;
}

#sidebar {
    background-color: #c9c9c9;
    width: 10%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0px;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    transition: width 0.5s ease-out;
    
    & ul {
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 3rem;

        & #logo-github, #logo-whats, #logo-linkedin {
            width: 4rem;
            height: 4rem;
            border: 2px solid black;
            border-radius: 50%;
        }

        & #logo-github {
            margin-top: 10rem;
        }
    }

    & #imagem-perfil {
        position: relative;
        margin-left: 0.3rem;
        border-radius: 50%;
        width: 100px;
        height: 120px;
        transition: all 0.5s ease-out;
        margin-left: 0;
        top: 5%;
    }


    & #button {
        margin-top: -15rem;
        text-align: center;
        width: 8rem;
        height: 2rem;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 16px;
    }

    & #button:hover {
        cursor: pointer;
        color: white;
        box-shadow: inset 0 -100px 0 0 red;
        transform: scale(1.5);
        border: none;
    }
}

#sidebar:hover {
    transition: 0.5s ease-out;
    width: 15%;
    height: 100vh;

    & ul {
        display: flex;
        flex-direction: column;
        transition: 0.5s ease-out;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    & #imagem-perfil {
        margin-left: 0;
        transition: 0.5s ease-out;
        width: 250px; 
        height: 260px;
    }

    & #logo-start {
        margin-top: -20rem;
    }

    & .icon {
        width: 90px;
        height: 90px;
    }

    & .icon:hover {
        cursor: pointer;
    }

    & #button {
        transition: 0.5s ease-out;
        margin-top: -20rem;
        width: 8rem;
        height: 2rem;
        
    }
}

#logo-start {
    margin-top: 10rem;
}

.icon {
    width: 60px;
    height: 60px;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    font-family: "Inter", sans-serif;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    margin-bottom: 8px; 
}

.logo:hover .tooltip {
    opacity: 1;
}

#box {
    margin: 0;
    box-sizing: border-box;
    border: 2px solid black;
    height: 100px;
    margin-left: 30%;
    margin-top: 3%;
    width: 1000px;
    display: flex;
    position: relative;
    background-color: #fff; 
    border-radius: 20px;
}

#box::after {
    content: '';
    position: absolute;
    bottom: -46px;
    left: 50rem;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-top: 46px solid black;
}

#box::before {
    content: '';
    position: absolute;
    bottom: -44px;
    left: 50rem;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-top: 44px solid #fff;
    z-index: 1;
}

#box:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#navbar {
    width: 100%; 

    & #navbar-ul {
        display: flex;          
        gap: 100px;
        height: 100%;              
        list-style: none;        
        font-family: "Inter", sans-serif;
        font-size: 1.8rem;
        align-items: center;
        justify-content: center;

        & li {
            cursor: pointer;
        }

        & li:hover {
            transform: scale(1.1);
        }
    }
}

#titulo {
    font-size: 60px;
    color: black;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-left: 24rem;
    margin-top: 8rem;
}

#container {
    display: inline-flex;
    margin: 200px 0 0 0;
    width: 100%;
    height: 62rem;
    position: relative;

    & #titulo {
        font-size: 60px;
        color: black;
        font-weight: 400;
        font-family: "Inter", sans-serif;
    }

    & #subtitulo {
        margin-left: 24rem;
        margin-top: -200px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;

        & li {
            position: relative;
            font-family: "Inter", sans-serif;
            color: red;
            list-style: none;
            font-size: 60px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            border-right: 2px solid red;
            width: 0;
            top: 0;
            animation: typing 3s steps(12) infinite, slide 15s steps(5) infinite;
        }

        & li span {
            position: relative;
        }

        & li span::after {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    & #foto-pessoa {
        position: absolute;
        margin-top: -21.875rem;
        margin-left: 75.5rem;
        width: 600px;
        height: 800px;
    }

    & #foto-pessoa:hover {
        transform: scale(1.1);
    }
}

#content {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    width: 100%;
    margin-top: -5vw;

    & .p-conteudo {
        margin-left: -21rem; /* alterar caso de erro de formatação da página */
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes slide {
    100% {
        top: -450px;
    }
}

#separate {
    margin-top: -50vh;
    background-color: black;
    width: 100%;
    height: 2px;
}

#separate-projetos {
    margin-top: 5vh;
    background-color: black;
    width: 100%;
    height: 2px;
}


.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 420px;
  perspective: 1200px;
  margin-top: 50px;
}

.slide {
  position: absolute;
  width: 200px;
  height: 280px;
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0.6;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  justify-content: center;
  align-items: center;

}

.slide:hover .card {
  transform: rotateY(180deg);
}

/*.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: 100;
}

.card::after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 15px;
    z-index: 100;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*/
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front {
  background: #222;
  color: white;
}

.front img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

#jv {
    width: 120px;
}

#jvs {
    color: white;
}

.front span {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 8px;
}

.back {
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 15px;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.3rem;
  transform: rotateY(180deg);
  backdrop-filter: blur(8px);
  border-radius: 15px;
}


.slide.active {
  transform: translateX(0) translateZ(220px) scale(1.1);
  opacity: 1;
  z-index: 5;
}

.slide.left {
  transform: translateX(-240px) rotateY(40deg) scale(0.9);
  z-index: 3;
}

.slide.right {
  transform: translateX(240px) rotateY(-40deg) scale(0.9);
  z-index: 3;
}

.slide.far-left {
  transform: translateX(-430px) rotateY(60deg) scale(0.8);
  z-index: 2;
  opacity: 0.3;
}

.slide.far-right {
  transform: translateX(430px) rotateY(-60deg) scale(0.8);
  z-index: 2;
  opacity: 0.3;
}

.controls {
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #333;
  color: #fff;
  transition: 0.3s;
}

button:hover {
  background: #555;
  transform: scale(1.1);
}


#techs {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}


.slide:nth-child(1) .front { 
    background: linear-gradient(135deg, #ff9a3c, #ff4500, #ff6f00); color: white; 
} 

.slide:nth-child(2) .front { 
    background: linear-gradient(135deg, #f7e018, #e5c100, #b38f00); color: black; 
}

.slide:nth-child(3) .front { 
    background: linear-gradient(135deg, #7ccf6f, #3b8b3b, #1b4d1b); color: white; 
}

.slide:nth-child(4) .front { 
    background: linear-gradient(135deg, #ff3a5c, #c2185b, #880e4f); color: white; 
} 

.slide:nth-child(5) .front { 
    background: linear-gradient(135deg, #4fd1c5, #22d3ee, #0c8184); color: white; 
} 

.slide:nth-child(6) .front { 
    background: linear-gradient(135deg, #1b4965, #0f4c75, #072f49); color: white; 
} 

.slide:nth-child(7) .front { 
    background: linear-gradient(135deg, #ffe873, #ffd43b, #306998); color: white; 
} 

#langs-tec {
    margin-left: 1vw;
    margin-top: 10vh;
    font-size: 48px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#langs-tec::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, red, #ff9a3c);
    transition: width 0.5s ease;
    border-radius: 2px;
}

#langs-tec:hover::after {
    width: 100%;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: width 0.5s ease, background-position 1s ease-in-out;
}


#typing-wrapper{
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.6;
  letter-spacing: .2px;
  white-space: pre;
}



.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-left: 12%; 
    width: 80%; 
    margin-top: 100px;
    margin-bottom: 50px;
}

.project-card {
    background: #1e1e1e;
    color: #fff;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter',  sans-serif;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.project-text {
    margin: 10px 0;
    font-size: 24px;
}

.project-techs {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
}

.project-techs img {
    width: 80px;
    height: 80px;
    object-fit: contain; 
    margin-right: 8px;   
}


.project-btn {
    background: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.project-btn:hover {
    transform: scale(1.1);
    color: white;
    transition: 0.4s ease-out;
    background-color: red;
}

@media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 10%;
        gap: 20px;
    }
}

#langs-tec-projetos {
    margin-top: 10vh;
    font-size: 48px;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 800px;
    cursor: pointer;
    font-family: 'inter', sans-serif;
}

#langs-tec-projetos::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, red, #ff9a3c);
    transition: width 0.5s ease;
    border-radius: 2px;
}

#langs-tec-projetos:hover::after {
    width: 100%;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: width 0.5s ease, background-position 1s ease-in-out;
}




